body
{
    margin:0;
    padding:0;
    background:#FFFFFF;
}
#Principal
{
    width: 1000px;
    margin:0 auto;         
    text-align:left; /* "remédio" para o hack do IE */ 
}
#Conteudo
{
    padding: 5px;
    background-color: #FFFFFF;
    margin-top: 20%;
    text-align: center;
}
