*
{
    margin: 0; 
    padding: 0;
}
.menu
{
    padding: 5px;
    background-color:#FFFFFF;
    margin-top: auto;
    margin-left: 8%;
}
.Menu
{
    list-style:none; 
    float:inside; 
    font-family:Calibri, Arial, Sans-Serif;
    font-size: 20px;
}
.Menu li
{
    position:relative; 
    float:left; 
    padding:5px 30px; 
}
.Menu li a
{
    color:#333; 
    text-decoration:none; 
    padding:5px 10px; 
    display:block;
}
.Menu li a:hover
{
    background:#333; 
    color:khaki; 
    -moz-box-shadow:0 3px 10px 0 #CCC; 
    -webkit-box-shadow:0 3px 10px 0 #ccc; 
    text-shadow:0px 0px 5px #fff; 
}
.Menu li ul
{
    position:absolute; 
    top:35px; 
    left:0; 
    background-color:transparent;
    display:none;
}
.Menu li:hover ul, .menu li.over ul
{
    display:block;
}
.Menu li ul li
{
    display:block; 
    width:170px;
}
p
{
    font-family:Calibri, Arial, Sans-Serif;
    font-size:20px; 
    text-align:right;
    color:#F00;
}